.btnHome {
    color: #e6e6e6;
    background: #0a0a0a;
    border: none;
    font-size: 16px;
    border-radius: 3px;
    width: 200px;
    text-align: center;
    display: block;
    padding: 7px 0;
    margin: 10px auto;
}

.btnHome:hover {
    color: #ffffff;
    background: #0a0a0a
}

a {
    text-decoration: none !important;
}

.titleHome {
    font-size: 2.5em;
    font-weight: bold;
    display: block;
    color: black;
}


.btnHome:hover:enabled {
    background: linear-gradient(#1a1a1a, #0a0a0a);
    color: #fff;
    text-decoration: none
}

.btnHome:active {
    transform: translateY(1px)
}


.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 
.avatar {
    width: 150px;
    border-radius: 50%
}

.space-list-items {
    margin-bottom: 7px
}
.popular-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

.popular-item {
    margin: 20px;
    text-align: center
}

.popular-rank {
    font-size: 20px;
    margin: 10px
}

.nav {
    display: flex
}

.nav li {
    margin-right: 15px
}

.active {
    font-weight: 700
}

.reset {
    border: none;
    background: transparent;
    color: #d0021b;
    display: block;
    width: 100%;
    text-align: center
}

.reset:hover {
    cursor: pointer
} */